#container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

h1, h2, h3, h4 {
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  margin: 0;
  border: 1px solid #631010;
  padding: 10px;
}

a {
  color: #C50092;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: #F2AEDB
}

h2 {
  font-size: 36px;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: #F2AEDB
}

h3 {
  font-size: 24px;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: #F2AEDB
}

h4 {
  font-size: 24px;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: #F2AEDB
}


a:hover {
  color: #b36fe0
}

a:visited {
  color: #5d1b9e
}
